# Ejemplos durante la clase en directo

In [ ]:
[![Abrir en Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/github/cursoslabra/introBBDD/blob/main/Books/EjemplosClase_IntroBBDD.ipynb)

In [ ]:
import sqlite3
import pandas as pd

# Creación de tabla

In [ ]:
db_path = "ejemplos.db"
print("Base de datos en:", db_path)
con = sqlite3.connect(":memory:")

Base de datos en: ejemplos.db

In [ ]:
con.execute("""
  create table alumnos (id Text Primary Key, nombre Text, apellidos Text, fechaNacimiento Date, tlfno Text) ;
  """);

In [ ]:
con.execute("""
   insert into alumnos values
      ('uo234', 'Jose', 'Torres', '1992-10-29', '985123456'),
      ('uo512', 'Ana', 'Cardo', '1987-11-25', '698765432'),
      ('uo545', 'Ana', 'Pascual', '1995-01-30', '987654321')
""")

Intentad añadir un alumno con el Id `uo545`...

In [ ]:
'''con.execute("""
   insert into alumnos values
     ('uo234', 'Otro', 'Torres', '1992-10-29', '985123456');
""")'''

'con.execute("""\n   insert into alumnos values\n     (\'uo234\', \'Otro\', \'Torres\', \'1992-10-29\', \'985123456\');\n""")'

In [ ]:
pd.read_sql("""
 SELECT * FROM alumnos
""",con)

      id nombre apellidos fechaNacimiento      tlfno
0  uo234   Jose    Torres      1992-10-29  985123456
1  uo512    Ana     Cardo      1987-11-25  698765432
2  uo545    Ana   Pascual      1995-01-30  987654321

In [ ]:
pd.read_sql("""
 SELECT * from alumnos;
""", con)

      id nombre apellidos fechaNacimiento      tlfno
0  uo234   Jose    Torres      1992-10-29  985123456
1  uo512    Ana     Cardo      1987-11-25  698765432
2  uo545    Ana   Pascual      1995-01-30  987654321

Ejercicio. Mostrar teléfono de las personas que se llaman Ana

Ejercicio. Añadir una columna con el campo dirección a la tabla alumnos

Añadir varios alumnos más a la tabla...

Cambiar el nombre de la tabla y llamarla "Estudiantes"

Crear una tabla con información sobre libros:

Crear una tabla con información sobre vuelos:



---

## Uniones de tablas

In [ ]:
con.execute("""
  create table cursos (id Text Primary Key, nombre Text, edición Text) ;
""");

In [ ]:
con.execute("""
 insert into cursos values
      ('C1', 'Álgebra', '2024-25'),
      ('C2', 'Física' , '2024-25'),
      ('C3', 'Física' , '2025-26'),
      ('C4', 'Lógica' , '2025-26');
  """);

In [ ]:
con.execute("""
  CREATE TABLE notas (
    alumnosId Text,
    cursosId Text,
    Nota Real,
    FOREIGN KEY(alumnosId) REFERENCES alumnos(id),
    FOREIGN KEY(cursosId) REFERENCES cursos(id)
);
""");

In [ ]:
con.execute("""
 insert into notas values
      ('uo234', 'C1', 8),
      ('uo512', 'C1', 7),
      ('uo545', 'C1', 9),
      ('uo234', 'C2', 4),
      ('uo234', 'C3', 7),
      ('uo545', 'C4', 6);
""")

## Ejercicio 2. Mostrar notas de las personas en los cursos