[![Abrir en Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/github/cursoslabra/introBBDD/blob/main/Books/intro_bbdd.ipynb)

# Introducción a las bases de datos
Este notebook contiene ejemplos para un curso sobre **introducción a las bases de datos**.
1. Importar una base de datos de ejemplo desde GitHub
2. Conectarse utilizando `sqlite3`
3. Crear una tabla para personas
4. Insertar y consultar datos

## Instalar requisitos: sqlite3 y otras librerías

In [ ]:
import sqlite3
import pandas as pd
import requests

# Display SQLite version
print("Versión de sqlite:", sqlite3.sqlite_version)

In [ ]:
# Descargar datos de ejemplo
url = "https://github.com/cursosLabra/introBBDD/raw/refs/heads/main/BaseDatos/Alumnos.db"
db_path = "Alumnos.db"

# Descargar el archivo de la base de datos
r = requests.get(url)
with open(db_path, "wb") as f:
    f.write(r.content)

print("Base de datos descargada en:", db_path)

Conectarse a la base de datos:

In [ ]:

conn = sqlite3.connect(db_path)
cursor = conn.cursor()

# Mostrar las tablas en la base de datos
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas en la base de datos:")
for t in tables:
    print("-", t[0])

Crear una tabla de personas

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS personas (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nombre TEXT NOT NULL,
    apellido TEXT NOT NULL,
    fecha_nacimiento DATE,
    email TEXT UNIQUE
);
""")

conn.commit()
print("✅ Tabla 'personas' creada con éxito.")

Introducir datos de ejemplo

In [ ]:

personas = [
    ("Alicia", "Armas", "1990-03-12", "alicia@ejemplo.com"),
    ("Berto", "Barrasa", "1985-07-23", "berto.barrasa@ejemplo.com"),
    ("Carlos", "Campos", "1979-11-05", "carlos.campos@ejemplo.com"),
    ("Diana", "Dante", "1995-09-17", "diana.dante@ejemplo.com"),
    ("Emilio", "Eguren", "1988-02-10", "emilio.eguren@ejemplo.com"),
]

cursor.executemany("""
INSERT INTO personas (nombre, apellido, fecha_nacimiento, email)
VALUES (?, ?, ?, ?);
""", personas)

conn.commit()
print("✅ 5 registros insertados en 'personas'.")

Consultar tabla

In [ ]:
df = pd.read_sql_query("SELECT * FROM personas;", conn)
df

Cerrar la conexión a la base de datos

In [ ]:
conn.close()
print("Conexión a la base de datos cerrada.")