[![Abrir en Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/github/cursoslabra/introBBDD/blob/main/Books/presentacion.ipynb)

# Ejemplos de la presentación
Este notebook contiene ejemplos del curso **introducción a las bases de datos**. Los ejercicios pueden ejecutarse.

## 1. Instalación de requisitos: sqlite3 y otras librerías

In [85]:
# La siguiente instrucción borra la base de datos si existe, en caso de que se re-ejecute el código y ya esté creada
!rm -f presentacion.db

In [86]:
import sqlite3
import pandas as pd
import requests

# Mostrar versión de sqlite
print("Versión de sqlite:", sqlite3.sqlite_version)

Versión de sqlite: 3.37.2

In [87]:
# Crear una base de datos en un archivo local
db_path = "presentacion.db"  # Nombre del archivo de la base
print("Base de datos en:", db_path)
# Descargar una base de datos de ejemplo (opcional)
con = sqlite3.connect("presentacion.db")

Base de datos en: presentacion.db

Conectarse a la base de datos:

In [88]:

# Crear un cursor para ejecutar consultas
cursor = con.cursor()

# Mostrar las tablas en la base de datos
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas existentes en la base de datos:")
for t in tables:
    print("-", t[0])

Tablas existentes en la base de datos:

## Gestión de tablas

## Gestión de tablas

### Creación de tablas

Crear una tabla de personas

In [89]:
cursor.execute("""
CREATE TABLE alumnos (
 Id              TEXT,
 Nombre          TEXT,
 Apellidos       TEXT,
 FechaNacimiento Date
)
""")

con.commit()
print("✅ Tabla 'alumnos' creada con éxito.")

✅ Tabla 'alumnos' creada con éxito.

In [90]:
# Mostrar las tablas en la base de datos
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas existentes en la base de datos:")
for t in tables:
    print("-", t[0])

Tablas existentes en la base de datos:
- alumnos

Introducir datos de ejemplo

In [91]:
cursor.execute("""
INSERT INTO alumnos (Id, Nombre, Apellidos, FechaNacimiento)
VALUES ("uo234", "Jose", "Torres", "29/10/1992"),
       ("uo512", "Ana", "Cardo",  "25/11/1987"),
       ("uo545", "Ana", "Pascual", "30/01/1995");
""")
con.commit()
print("✅ registros insertados en 'alumnos'.")

✅ registros insertados en 'alumnos'.

Consultar datos de la tabla

In [92]:
for row in cursor.execute("SELECT * FROM alumnos"):
    print(row)

('uo234', 'Jose', 'Torres', '29/10/1992')
('uo512', 'Ana', 'Cardo', '25/11/1987')
('uo545', 'Ana', 'Pascual', '30/01/1995')

También se puede ejecutar la consulta desde Pandas para convertir los resultados en un DataFrame de Pandas que luego permite su análisis.

In [93]:
pd.read_sql("SELECT * FROM alumnos;", con)

      Id Nombre Apellidos FechaNacimiento
0  uo234   Jose    Torres      29/10/1992
1  uo512    Ana     Cardo      25/11/1987
2  uo545    Ana   Pascual      30/01/1995

### Modificación de tablas

In [94]:
cursor.execute("""
 CREATE TABLE Personas (
 Id              TEXT,
 Nombre          TEXT,
 Apellidos       TEXT,
 FechaNacimiento Date
)
""")

In [95]:
cursor.execute("""
ALTER TABLE Personas RENAME TO Estudiantes;
""")

In [96]:
cursor.execute("""
ALTER TABLE Estudiantes ADD COLUMN Email TEXT;
""")

In [97]:
cursor.execute("""
ALTER TABLE Estudiantes RENAME COLUMN Email TO Correo;
""")

In [98]:
cursor.execute("""
ALTER TABLE Estudiantes DROP COLUMN Correo;
""")

In [99]:
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas existentes en la base de datos:")
for t in tables:
    print("-", t[0])

Tablas existentes en la base de datos:
- alumnos
- Estudiantes

### Borrar tablas

In [100]:
cursor.execute("""
 DROP TABLE Estudiantes;
""")

In [101]:
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas existentes en la base de datos:")
for t in tables:
    print("-", t[0])

Tablas existentes en la base de datos:
- alumnos

## Manipulación de datos

### Inserción de registros

In [102]:
cursor.execute("""
INSERT INTO alumnos (Id, Nombre, Apellidos, FechaNacimiento)
VALUES ('uo678', 'Daniel', 'Domingo', '20/05/2001'),
       ('uo987', 'Fernando', 'Flores', '22/06/1999')
""")

### Borrar registros

In [103]:
cursor.execute("""
DELETE FROM alumnos WHERE FechaNacimiento = "25/11/1987";
""")
con.commit()
for row in cursor.execute("SELECT * FROM alumnos"):
    print(row)

('uo234', 'Jose', 'Torres', '29/10/1992')
('uo545', 'Ana', 'Pascual', '30/01/1995')
('uo678', 'Daniel', 'Domingo', '20/05/2001')
('uo987', 'Fernando', 'Flores', '22/06/1999')

Volvemos a añadir la fila con `Ana Cardo` cambiando la fecha de nacimiento.

In [104]:
cursor.execute("""
INSERT INTO alumnos (Id, Nombre, Apellidos, FechaNacimiento)
VALUES ('uo512', 'Ana', 'Cardo', '26/11/1987' );
""");

In [105]:
con.commit()

In [106]:
for row in cursor.execute("SELECT * FROM alumnos"):
    print(row)

('uo234', 'Jose', 'Torres', '29/10/1992')
('uo545', 'Ana', 'Pascual', '30/01/1995')
('uo678', 'Daniel', 'Domingo', '20/05/2001')
('uo987', 'Fernando', 'Flores', '22/06/1999')
('uo512', 'Ana', 'Cardo', '26/11/1987')

### Actualizar registros

In [107]:
cursor.execute("""
UPDATE alumnos SET FechaNacimiento = "30/12/2007" WHERE Nombre = "Ana";
""");
for row in cursor.execute("SELECT * FROM alumnos"):
    print(row)

('uo234', 'Jose', 'Torres', '29/10/1992')
('uo545', 'Ana', 'Pascual', '30/12/2007')
('uo678', 'Daniel', 'Domingo', '20/05/2001')
('uo987', 'Fernando', 'Flores', '22/06/1999')
('uo512', 'Ana', 'Cardo', '30/12/2007')

## Consultas SQL

### Selección y proyección

In [108]:
pd.read_sql("""
  SELECT apellidos, nombre
  FROM  alumnos
  WHERE nombre = 'Ana';
""", con)

  Apellidos Nombre
0   Pascual    Ana
1     Cardo    Ana

### Joins

### Subconsultas, uniones y expresiones

### Funciones agregadas y agrupamiento de datos

### Transacciones

## Cerrar la conexión a la base de datos

Para finalizar, borramos la conexión con la base de datos.

##

In [109]:
con.close()
print("Conexión a la base de datos cerrada.")

Conexión a la base de datos cerrada.