[![Abrir en Google Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/github/cursoslabra/introBBDD/blob/main/Books/presentacion.ipynb)

# Ejemplos de la presentación
Este notebook contiene ejemplos del curso **introducción a las bases de datos**. Los ejercicios pueden ejecutarse.

## 1. Instalación de requisitos: sqlite3 y otras librerías

In [ ]:
import sqlite3
import pandas as pd
import requests

# Mostrar versión de sqlite
print("Versión de sqlite:", sqlite3.sqlite_version)

In [ ]:
# Crear una base de datos en un archivo local
db_path = "presentacion.db"  # Nombre del archivo de la base
print("Base de datos en:", db_path)
# Descargar una base de datos de ejemplo (opcional)
con = sqlite3.connect("presentacion.db")

Conectarse a la base de datos:

In [ ]:

# Crear un cursor para ejecutar consultas
cursor = con.cursor()

# Mostrar las tablas en la base de datos
tables = cursor.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall()
print("Tablas existentes en la base de datos:")
for t in tables:
    print("-", t[0])

Crear una tabla de personas

In [ ]:
cursor.execute("""
CREATE TABLE alumnos (
 Id              TEXT,
 Nombre          TEXT,
 Apellidos       TEXT,
 FechaNacimiento Date,
 Tlfno           TEXT
)
""")

con.commit()
print("✅ Tabla 'alumnos' creada con éxito.")

Introducir datos de ejemplo

In [ ]:
personas = [
    ("Alicia", "Armas", "1990-03-12", "alicia@ejemplo.com"),
    ("Berto", "Barrasa", "1985-07-23", "berto.barrasa@ejemplo.com"),
    ("Carlos", "Campos", "1979-11-05", "carlos.campos@ejemplo.com"),
    ("Diana", "Dante", "1995-09-17", "diana.dante@ejemplo.com"),
    ("Emilio", "Eguren", "1988-02-10", "emilio.eguren@ejemplo.com"),
]

cursor.executemany("""
INSERT INTO personas (nombre, apellido, fecha_nacimiento, email)
VALUES (?, ?, ?, ?);
""", personas)

conn.commit()
print("✅ 5 registros insertados en 'personas'.")

Consultar tabla

In [ ]:
df = pd.read_sql_query("SELECT * FROM personas;", conn)
df

Cerrar la conexión a la base de datos

In [ ]:
conn.close()
print("Conexión a la base de datos cerrada.")